* { border: 0; margin: 0; padding: 0; }

body {
    background: #e6e6e6;
    color: #666;
    font: 13px/26px Open Sans, Helvetica Neue, Arial, Sans-Serif;
    margin: 10px;
    text-shadow: white 0px 1px 0px;
    -webkit-text-size-adjust: none;
}

a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1px;
}

a:hover {
    color: #000;
}

#wrap {
    width: 380px;
    margin: 180px auto 100px;
    text-align: center;
    padding-bottom: 8px;
}

#content {
    background: #fff;
    border-top: 1px solid #fff;
    padding-bottom: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#wrap img {
    margin: 20px 0 10px 0;
}

p {
    margin: 0 0.1em;
    color: #bbb;
}

span.fn, span.description {
    color: #444;
    margin: 0 1px;
}

span.amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
    font-size: 1.2em;
    margin: 0 0.15em;
}

span.fn {
    font-weight: bold;
}

a.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -5000px;
    margin: 20px 0 3px;
    opacity: 0.3;
    padding: 0 4px;
    background-repeat: no-repeat;
    background-position: center;
}

a.icon:hover {
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; 
}
.icon-xing { background-image: url(xing.png); }
.icon-skype { background-image: url(skype.png); }
.icon-vcard { background-image: url(vcard.png); }
.icon-facebook { background-image: url(facebook.png); }
.icon-twitter { background-image: url(twitter.png); }
.icon-linkedin { background-image: url(linkedin.png); }
.icon-googleplus { background-image: url(googleplus.png); }
.icon-blog { background-image: url(blog.png); }
.icon-flickr { background-image: url(flickr.png); }
.icon-wikipedia { background-image: url(wikipedia.png); }
.icon-codecademy { background-image: url(codecademy.png); }
.icon-transifex { background-image: url(transifex.png); }
.icon-osm { background-image: url(osm.png); }
.icon-xmpp { background-image: url(xmpp.png); }
.icon-github { background-image: url(github.png); }
.icon-youtube { background-image: url(youtube.png); }

